 <style>
.sectiontab{
    margin-top : 4%;
    margin-bottom : 2%;
    display : flex;
    flex-direction : column;
}
table{
    width : 1000px;
    border : 1px solid black;
    table-layout : fixed;
    margin-left : auto;
    margin-right : auto;
    
 }
 th {
  border: 1px solid black;
  text-align : center;
  background-color : black;
  color : rgb(255,179,32);
  font-weight : normal;
  font-size : 15px;
  padding-top : 10px;
  padding-bottom : 10px;
}
td{
  border: 1px solid black;
  text-align : center;
  font-weight : normal;
  font-size : 15px;
  padding-top : 6px;
  padding-bottom : 6px;
  
}
.sectiontab .alienbtn{
    background-color : rgb(255,179,32);
    width : 130px;
    text-align : center;
    border : 1px solid rgb(255,179,32); 
    border-radius : 50px;
    color : white;
    font-size : 15px;
    margin-left : 13.5%;
    margin-top : 3%;
    padding-left : 15px;
    padding-right : 15px;
    padding-top : 3px;
    padding-bottom : 3px;
}

.lien:hover{
  color: rgb(255,179,32);
}
.liens{   
}
.sectiontab .alienbtn:hover{
  box-shadow : 2px 1px 12px 2px rgb(255,179,32);
}

 </style>

 <div class="sectiontab">
 <table>
 <tr>
 <th>Team name</th>
 <th>Tournament name</th>
 <th>Action</th>
 </tr>
 <tr>
 <% @teams.each do |team| %>
 <td><%= team.name %></td>
 <td><%= team.tournament_name %></td>
 
 <td class="liens">
    <%= link_to 'Show',team , :class => "lien" %>
    <%= link_to 'Edit', edit_team_path(team) , :class => "lien" %>
    <%= link_to 'Destroy', team_path(:id => team.id), :method => :delete, :class => "lien" %>
 </td>

 </tr>
  <% end %>
 </table>
 <a class="alienbtn" <%= link_to 'New team', new_team_path %> </a>

 </div>