

<div class="container">   
  <%= simple_form_for @team  do |f| %>   
      
    <label>Name</label>   
        <%= f.text_field :name %> </br>
    </div>

   <label>Tournament</label>   
        <%= f.text_field :tournament_id%></br>   
    </div> 

   <label>Match</label>   
        <%= f.text_field :match_id %></br>   
    </div>
      <div>   
        <%= link_to 'Back', { controller: 'teams', action: 'index'} %>   
        <%= f.submit 'Create team' ,{ controller: 'teams', action: 'create'} %>   
      </div>   
  <% end %> 
</div>  


 
