

<div class="container">   
      <%= form_with model: @team do |f| %>
      <div>   
 <label>name</label> 
        <%= f.text_field :name, class: "form-input flex-1 block w-full rounded-none rounded-md transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
               

        </div>  
         <label>tournament name</label> 
        <%= f.text_field :name, class: "form-input flex-1 block w-full rounded-none rounded-md transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>

        </div>  

        
   
      <div>   
        <%= link_to 'Back', { controller: 'teams', action: 'index'} %>   
        <%= f.submit 'Create team' ,{ controller: 'teams', action: 'create'} %>   
      </div>   
  <% end %> 
</div>  


 
