  <div class="field">
    <%= f.label :scoreround %><br>
    <%= f.number_field :scoreround %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%= link_to 'Show', @round %> 
<%= link_to 'Back', round_path %>