<div class="container">   
  <%= simple_form_for @tournament  do |f| %>   
      <div>   
        <%# <p>   
          <%= "<div>#{@tournament.errors.full_messages.first}</div>".html_safe if @tournament.errors.any? %> 
    <% if @tournament.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@tournament.errors.count, "error")} prohibited this match from being saved:" %>
      </h2>
      <ul>
        <% @tournament.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
          <% end %>
      </ul>
    </div>
  <% end %>
  <div>   
        <label>name</label>   
           <%= f.text_field :name %>   
        </div>     
        
       <div>   
       <label>start date</label>   
       <%= f.datetime_field :start_date %>   
        </div>

        <div>   
        <label> End date</label>   
        <%= f.datetime_field :end_date %>   
        </div>

         </p>   
      </div>   
      <div>   
        <%= link_to 'Back', { controller: 'tournaments', action: 'index'} %>   
        <%= f.submit 'Create product' %>   
      </div>   
  <% end %>   
</div>  