 <style>
            .sectionformulaire{
                display : flex;
                flex-direction: column;
                width : 500px;
                margin-top: 5%;
                margin-left: auto;
                margin-right: auto;
            }
            .sectionformulaire input{
                margin-bottom: 5%;
                border : 1px solid black;
                padding-top: 5%;
                border-left: none;
                border-right: none;
                border-top: none;
                width : 500px;
            }
           .sectionformulaire input:focus{
               outline-style: none;
               border-bottom : 1px solid rgb(255,179,32);
           }
            .btns{
                display: flex;
                flex-direction: row;
                margin-bottom : 8%;
            }
            .btndroite, .btngauche{
                border : 1px solid rgb(255,179,32);
                background-color: rgb(255,179,32);
                text-decoration: none;
                color: white;
                text-align: center;
                border-radius: 30px;
                width: 200px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 6%;
                padding : 0;
            }
            .btndroite:hover, .btngauche:hover{
                box-shadow : 1px 1px 10px 1px rgb(255,179,32);
            }
        </style>
 <div class="sectionformulaire">
    <%= form_with model: @tournament do |f| %> 
        <input type="text" placeholder="Name" id= <%= f.text_field :name %></br>
        
        <input type="datetime-local" name="date" placeholder="Star_date" id=<%= f.datetime_field :start_date%> </br>

        <input type="datetime-local" name="date" placeholder="End_date" id=<%= f.datetime_field :end_date%> </br>

        <input type="text" placeholder="Number of matches" id=<%= f.number_field :number_of_matches %></br>
        
        <div class="btns">
          <a class="btndroite" <%= link_to 'Back', { controller: 'tournaments', action: 'index'} %> </a>
          <%= f.button 'Create Tournament' , controller: 'tournaments', action: 'create', :class =>"btngauche" %>
        </div>         
 <%end%>       
    </div>