
<div class="container"> 
<%= form_with model: @player do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email %><br>
    <%= form.text_area :email %>
  </div>
    <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>
<div>   
        
      
      <div> 
        <%= link_to 'Back', { controller: 'players', action: 'index'} %>   
        <%= form.submit 'Create player' ,{ controller: 'players', action: 'create'} %>
         </div>
 
<% end %>
</div>