<h1>New player</h1>

<%= form_with model: @player do |form| %>
  <div>
    <%= form.label :player_name %><br>
    <%= form.text_field :player_name %>
  </div>

  <div>
    <%= form.label :email %><shebr>
    <%= form.text_area :email %>
  </div>
    <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>
<div>   
        <%#= link_to 'Back', { controller: 'players', action: 'index'} %>   
      
      <div> 
         <%#= link_to 'save', { controller: 'players', action: 'index'} %>   
         <%= form.submit %>

         </div>
 
<% end %>