

  <div class="field">
    <%= simple_form_for @match  do |f| %>  
  <div>
    <label>Name</label>   
      <%= f.text_field :name %>   
  </div>   
  
    <div>   
      <label>Result</label>   
       <%= f.text_field :result %>   
    </div>   
        <div>   
        <label>Brodcast Link</label>   
        <%= f.text_field :brodcast_link %>   
       </div>
       <div>   
       <label>start date</label>   
       <%= f.datetime_field :start_date%>   
        </div>
        <div>   
        <label> End date</label>   
        <%= f.datetime_field :end_date %>   
        </div>
        
        <div>   
        <label> Tournament_id</label>   
        <%= f.text_field :tournament_id %>   
        </div>
  </div>
  
  <div class="actions">
    <%= f.submit 'update' , { controller: 'matches', action: 'edit'} %>
  </div>
       <%end%>   

<%= link_to 'Back', match_path %>