

<div class="container">   
  <%= simple_form_for @match  do |f| %>   
      <%# <div>    %>
        <%# <p>   
          <%= "<div>#{@match.errors.full_messages.first}</div>".html_safe if @match.errors.any? %> 
  <!--  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@match.errors.count, "error")} prohibited this match from being saved:" %>
      </h2>
      <ul>
        <% @match.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
          <% end %>
      </ul>
    </div>
  <% end %>-->
      <div>   
            <label>Name</label>   
              <%= f.text_field :name %>   
        </div>   
  
        <div>   
             <label>Result</label>   
             <%= f.text_field :result %>   
        </div>   
        <div>   
        <label>Brodcast Link</label>   
        <%= f.text_field :brodcast_link %>   
       </div>
       <div>   
       <label>start date</label>   
       <%= f.datetime_field :start_date%>   
        </div>
        <div>   
        <label> End date</label>   
        <%= f.datetime_field :end_date %>   
        </div>
        <div>   
        <label> Tournament_id</label>   
        <%= f.text_field :tournament_id %>   
        </div>
   
      <div>   
        <%= link_to 'Back', { controller: 'matches', action: 'index'} %>   
        <%= f.submit 'Create match' ,{ controller: 'matches', action: 'create'} %>   
      </div>   
  <% end %> 
</div>  


 
