<!DOCTYPE html>
<html>
  <head>
    <title>Esports3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body>
<!-- component -->
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
 
  <% flash.each do |message_type, message| %>
    <div id=<%= message_type %> class="alert"><%= message %></div>
  <% end %>
 <%= render 'shared/navbar' %>
    <%= yield %>
  </body>
</html>
