<div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col">   
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, :class => "block text-grey-darker text-sm font-bold mb-2" %><br />
    <%= f.email_field :email,:class=>"shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, :class => "block text-grey-darker text-sm font-bold mb-2" %>
    <% if @minimum_password_length %>
    <!--<em>(<%= @minimum_password_length %> characters minimum)</em><-->
    <% end %><br />
    <%= f.password_field :password,:class=>"shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker", autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, :class => "block text-grey-darker text-sm font-bold mb-2" %><br />
    <%= f.password_field :password_confirmation,:class=>"shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker", autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
</div>
 
<% end %>

<%= render "users/shared/links" %>
